<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fno.back.oa.mapper.OaDutyApplyMapper">
    
    <resultMap type="OaDutyApply" id="OaDutyApplyResult">
        <result property="id"    column="id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="billType"    column="bill_type"    />
        <result property="leaveType"    column="leave_type"    />
        <result property="billCode"    column="bill_code"    />
        <result property="flowKey"    column="flow_key"    />
        <result property="flowInsId"    column="flow_ins_id"    />
        <result property="applyTitle"    column="apply_title"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="days"    column="days"    />
        <result property="reason"    column="reason"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="destination"    column="destination"    />
    </resultMap>

    <sql id="selectOaDutyApplyVo">
        select id,tenant_id, bill_type, leave_type, bill_code, flow_key, flow_ins_id, apply_title, submit_time, status, remark, start_time, end_time, days,
               reason, user_id, dept_id, create_by, create_time, update_by, update_time,destination
        from oa_duty_apply
    </sql>

    <select id="selectOaDutyApplyList" parameterType="OaDutyApply" resultMap="OaDutyApplyResult">
        <include refid="selectOaDutyApplyVo"/>
        <where>  
            <if test="billType != null  and billType != ''"> and bill_type = #{billType}</if>
            <if test="tenantId != null"> and tenant_id = #{tenantId}</if>
            <if test="leaveType != null  and leaveType != ''"> and leave_type = #{leaveType}</if>
            <if test="billCode != null  and billCode != ''"> and bill_code like concat('%', #{billCode}, '%')</if>
            <if test="flowKey != null  and flowKey != ''"> and flow_key = #{flowKey}</if>
            <if test="flowInsId != null  and flowInsId != ''"> and flow_ins_id = #{flowInsId}</if>
            <if test="applyTitle != null  and applyTitle != ''"> and apply_title = #{applyTitle}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="startTime != null "> and start_time &gt;= #{startTime}</if>
            <if test="endTime != null "> and end_time &lt;= #{endTime}</if>
            <if test="days != null "> and days = #{days}</if>
            <if test="reason != null  and reason != ''"> and reason like concat('%', #{reason}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="destination != null and destination != ''"> and destination = #{destination}</if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
        </where>
    </select>
    
    <select id="selectOaDutyApplyById" parameterType="Long" resultMap="OaDutyApplyResult">
        <include refid="selectOaDutyApplyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOaDutyApply" parameterType="OaDutyApply" useGeneratedKeys="true" keyProperty="id">
        insert into oa_duty_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="billType != null">bill_type,</if>
            <if test="leaveType != null">leave_type,</if>
            <if test="billCode != null">bill_code,</if>
            <if test="flowKey != null">flow_key,</if>
            <if test="flowInsId != null">flow_ins_id,</if>
            <if test="applyTitle != null">apply_title,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="days != null">days,</if>
            <if test="reason != null">reason,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="destination != null">destination,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="billType != null">#{billType},</if>
            <if test="leaveType != null">#{leaveType},</if>
            <if test="billCode != null">#{billCode},</if>
            <if test="flowKey != null">#{flowKey},</if>
            <if test="flowInsId != null">#{flowInsId},</if>
            <if test="applyTitle != null">#{applyTitle},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="days != null">#{days},</if>
            <if test="reason != null">#{reason},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="destination != null">#{destination},</if>
         </trim>
    </insert>

    <update id="updateOaDutyApply" parameterType="OaDutyApply">
        update oa_duty_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="billType != null">bill_type = #{billType},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="leaveType != null">leave_type = #{leaveType},</if>
            <if test="billCode != null">bill_code = #{billCode},</if>
            <if test="flowKey != null">flow_key = #{flowKey},</if>
            <if test="flowInsId != null">flow_ins_id = #{flowInsId},</if>
            <if test="applyTitle != null">apply_title = #{applyTitle},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="days != null">days = #{days},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="destination != null">destination = #{destination},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOaDutyApplyById" parameterType="Long">
        delete from oa_duty_apply where id = #{id}
    </delete>

    <delete id="deleteOaDutyApplyByIds" parameterType="String">
        delete from oa_duty_apply where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>