<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fno.back.oa.mapper.OaMeetingroomApplyMapper">
    
    <resultMap type="OaMeetingroomApply" id="OaMeetingroomApplyResult">
        <result property="id"    column="id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="flowKey"    column="flow_key"    />
        <result property="flowInsId"    column="flow_ins_id"    />
        <result property="applyTitle"    column="apply_title"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="billCode"    column="bill_code"    />
        <result property="remark"    column="remark"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="userCount"    column="user_count"    />
        <result property="meetingTitle"    column="meeting_title"    />
        <result property="meetingDes"    column="meeting_des"    />
        <result property="billType"    column="bill_type"    />

        <result property="meetingroomId"    column="meetingroom_id"    />
        <result property="meetingroomCode"    column="meetingroom_code"    />
        <result property="meetingroomName"    column="meetingroom_name"    />

    </resultMap>

    <sql id="selectOaMeetingroomApplyVo">
        select a.id,a.tenant_id, a.user_id, a.dept_id, a.create_by, a.create_time, a.update_by, a.update_time, a.status, a.flow_key, a.flow_ins_id, a.apply_title,
               a.submit_time, a.bill_code, a.remark, a.start_time, a.end_time, a.user_count, a.meeting_title, a.meeting_des ,a.bill_type,
               a.meetingroom_id,r.code meetingroom_code,r.name meetingroom_name
        from oa_meetingroom_apply a left join oa_bd_meetingroom r on a.meetingroom_id = r.id
    </sql>

    <select id="selectOaMeetingroomApplyList" parameterType="OaMeetingroomApply" resultMap="OaMeetingroomApplyResult">
        <include refid="selectOaMeetingroomApplyVo"/>
        <where>  
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="tenantId != null "> and a.tenant_id = #{tenantId}</if>
            <if test="deptId != null "> and a.dept_id = #{deptId}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="flowKey != null  and flowKey != ''"> and a.flow_key = #{flowKey}</if>
            <if test="flowInsId != null  and flowInsId != ''"> and a.flow_ins_id = #{flowInsId}</if>
            <if test="applyTitle != null  and applyTitle != ''"> and a.apply_title = #{applyTitle}</if>
            <if test="submitTime != null "> and a.submit_time = #{submitTime}</if>
            <if test="billCode != null  and billCode != ''"> and a.bill_code like concat('%', #{billCode}, '%')</if>
            <if test="remark != null  and remark != ''"> and a.remark like concat('%', #{remark}, '%')</if>
            <if test="startTime != null "> and a.start_time = #{startTime}</if>
            <if test="endTime != null "> and a.end_time = #{endTime}</if>
            <if test="userCount != null "> and a.user_count = #{userCount}</if>
            <if test="meetingTitle != null  and meetingTitle != ''"> and a.meeting_title like concat('%', #{meetingTitle}, '%')</if>
            <if test="billType != null  and billType != ''"> and a.bill_type = #{billType}</if>
            <if test="meetingroomId != null  and meetingroomId != ''"> and a.meetingroom_id = #{meetingroomId}</if>
            <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy}</if>
        </where>
    </select>
    
    <select id="selectOaMeetingroomApplyById" parameterType="Long" resultMap="OaMeetingroomApplyResult">
        <include refid="selectOaMeetingroomApplyVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertOaMeetingroomApply" parameterType="OaMeetingroomApply" useGeneratedKeys="true" keyProperty="id">
        insert into oa_meetingroom_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="flowKey != null">flow_key,</if>
            <if test="flowInsId != null">flow_ins_id,</if>
            <if test="applyTitle != null">apply_title,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="billCode != null">bill_code,</if>
            <if test="remark != null">remark,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="userCount != null">user_count,</if>
            <if test="meetingTitle != null and meetingTitle != ''">meeting_title,</if>
            <if test="meetingDes != null">meeting_des,</if>
            <if test="billType != null">bill_type,</if>

            <if test="meetingroomId != null">meetingroom_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="flowKey != null">#{flowKey},</if>
            <if test="flowInsId != null">#{flowInsId},</if>
            <if test="applyTitle != null">#{applyTitle},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="billCode != null">#{billCode},</if>
            <if test="remark != null">#{remark},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="userCount != null">#{userCount},</if>
            <if test="meetingTitle != null and meetingTitle != ''">#{meetingTitle},</if>
            <if test="meetingDes != null">#{meetingDes},</if>
            <if test="billType != null">#{billType},</if>

            <if test="meetingroomId != null">#{meetingroomId},</if>
         </trim>
    </insert>

    <update id="updateOaMeetingroomApply" parameterType="OaMeetingroomApply">
        update oa_meetingroom_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="flowKey != null">flow_key = #{flowKey},</if>
            <if test="flowInsId != null">flow_ins_id = #{flowInsId},</if>
            <if test="applyTitle != null">apply_title = #{applyTitle},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="billCode != null">bill_code = #{billCode},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="userCount != null">user_count = #{userCount},</if>
            <if test="meetingTitle != null and meetingTitle != ''">meeting_title = #{meetingTitle},</if>
            <if test="meetingDes != null">meeting_des = #{meetingDes},</if>
            <if test="billType != null">bill_type = #{billType},</if>

            <if test="meetingroomId != null">meetingroom_id = #{meetingroomId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOaMeetingroomApplyById" parameterType="Long">
        delete from oa_meetingroom_apply where id = #{id}
    </delete>

    <delete id="deleteOaMeetingroomApplyByIds" parameterType="String">
        delete from oa_meetingroom_apply where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>