<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fno.back.oa.mapper.OaOfficeGoodsMapper">
    
    <resultMap type="OaOfficeGoods" id="OaOfficeGoodsResult">
        <result property="id"    column="id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="name"    column="name"    />
        <result property="unit"    column="unit"    />
        <result property="quantity"    column="quantity"    />
        <result property="brand"    column="brand"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOaOfficeGoodsVo">
        select id,tenant_id, name, unit, quantity, brand, price, status, create_by, create_time, update_by, update_time, remark from oa_office_goods
    </sql>

    <select id="selectOaOfficeGoodsList" parameterType="OaOfficeGoods" resultMap="OaOfficeGoodsResult">
        <include refid="selectOaOfficeGoodsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="tenantId != null"> and tenant_id = #{tenantId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectOaOfficeGoodsById" parameterType="Long" resultMap="OaOfficeGoodsResult">
        <include refid="selectOaOfficeGoodsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOaOfficeGoods" parameterType="OaOfficeGoods">
        insert into oa_office_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="name != null">name,</if>
            <if test="unit != null">unit,</if>
            <if test="quantity != null">quantity,</if>
            <if test="brand != null">brand,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="name != null">#{name},</if>
            <if test="unit != null">#{unit},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="brand != null">#{brand},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOaOfficeGoods" parameterType="OaOfficeGoods">
        update oa_office_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOaOfficeGoodsById" parameterType="Long">
        delete from oa_office_goods where id = #{id}
    </delete>

    <delete id="deleteOaOfficeGoodsByIds" parameterType="String">
        delete from oa_office_goods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>